body {
    background-color: #f4f6f9;
}

.card-custom {
    border-radius: 12px;
}

.table thead {
    background-color: #1f2f5a;
    color: white;
}

.btn-new {
    background-color: #1f2f5a;
    color: white;
}

.btn-new:hover {
    background-color: #162347;
}